/* MAIN BODY AND BACKGROUND */
body {
    background-color: #ff4444;
}

*.Content {
    background-color: #48444c;
    width:80%;
    box-shadow: 0px 10px 50px 0px #350202;
}

*.Center {
    margin: auto;
}


/* NAVBAR */

nav.navbar {
    width: 100%;
    height: 8%;
    top:0px;
    right: 0px;
    /* idk why but i have to reset the origin to (0,0) */
    /* it breaks when you click on a link */
    position: fixed;
    background-color:#221f24;
}

*.nav-links {
    width:93%;
    /* yo i cant keep doing this, so bad */
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content:space-around;
}

*.nav-text {
    color:azure;
    font-family:'Courier New', Courier, monospace;
    text-decoration:none;
}

ul {
    list-style-type:none;
    /* removes the bullet point from list items */
}


/* TITLES AND HEADERS */

/* hr {
    border-top: 5px solid #fe4042;
} */

#Top {
    /* color:darkslateblue; */
    text-align: center;
    font-size:50px;
}

*.date {
    /* color:#d8757d; */
    color:#ff4454;
    text-align: center;
    font-family: 'Nintendo DS BIOS', sans-serif;
    font-size:250px;
}

.title {
    /* nice and big, each game shouyald get the representaiton it needs
    console should be bigger than that game cause there is less */
    text-align: center;
    font-family: 'Press Start 2P', sans-serif;
    /* font-family: 'nintendo_NTLG-DB_001', sans-serif; */
    /* font-family: 'Super Smash 4.1', sans-serif; */
    /* font-family: 'NintendoExt003', sans-serif; */
    /* font-family: 'NintendoExtLE003', sans-serif; */
    /* font-family: 'nintendo_udsg-r_std_003', sans-serif; */
}

p {
    font-family: 'Consolas', monospace;
    font-size: 22px;
    color: azure;
}

.console {
    font-size:60px;
    /* color:rgb(56, 89, 198); */
    color: #08c4e4;
}

.game {
    font-size:40px;
    color:rgb(121, 216, 161);
}

/* each year should have its own theme??
make each special
each year is so different so you need to do this */

/* TEXT */

.red, .greyl, .greyd, .blue {
    display: inline;
}

.red {
    color:#ff4454;
}

.blue {
    color: #08c4e4;
}
.greyl {
    color:#a09c9c;
}

.greyd {
    color:#48444c;
}

*.Games {
    align: center;
}

* {
    text-align: center;
}




/* IMAGE ASSETS */

img {
    width: 300px;
    height: auto;
}

ul.grid-container {
    margin: 0 auto;
    text-align: center;
}

li.game-image {
    display: inline-block;
    vertical-align: top;
}

img.misc{
    width: 300px;
    height: auto;
}

img.gameboy{
    width: auto;
    height: 300px;
}

img.ds{
    width: auto;
    height: 150px;
}

img.wii{
    width: auto;
    height:300px;
}

img.switch{
    width: 150px;
    height: auto;
}